[submodule "hardware/keyboard-modules.pretty"]
	path = hardware/keyboard-modules.pretty
	url = https://github.com/stormbard/Keyboard.pretty.git
[submodule "firmware/qmk_firmware"]
	path = firmware/qmk_firmware
	url = git@github.com:qmk/qmk_firmware.git
